* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(18deg, #010101 0, #1c1c1c 100%);
  overflow-x: hidden;
  /* cursor: none; */
  min-height: 100vh;
  min-height: 100svh;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  margin: 29px auto 80px;
  width: 90%;
}

h1 {
  position: relative;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  font-size: calc(40px + (60 - 40) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 700;
}

/* **********************************MOUSE CIRCLE************************************* */

#mouse {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0, #f1f1f1 90%);
  filter: blur(2px);
  z-index: -1;
}

/* *******************************************CALC******************************************************* */
.calculator {
  text-align: center;
  margin: 0 auto;
  width: 87.5%;
  cursor: pointer;
}

.res {
  margin: 0 auto;
  background: transparent;
  width: 100%;
  height: 53px;
  position: relative;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: white;
  overflow: hidden;
  font-size: calc(27px + (36 - 27) * ((100vw - 320px) / (1440 - 320)));
  width: 100%;
  max-width: 280px;
}

span {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 1px;
  direction: ltr;
  white-space: nowrap;
}

table {
  width: 100%;
  user-select: none;
  margin: 16px auto 0;
  border-radius: 10px;
  font-size: calc(27px + (36 - 27) * ((100vw - 320px) / (1440 - 320)));
  max-width: 280px;
}

thead {
  display: none;
}

tbody {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 5px;
}

tr {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

td {
  background: #eeeeee;
  color: #0a0a0a;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

td:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
}

.operator {
  background-color: #ffa500;
}
.operator:hover {
  background-color: #fcca6e;
}

.clear {
  position: relative;
}

.clear::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-radius: 50%;
  background-color: #292929;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.clear.clicked::after {
  transform: scale(100%);
}

.equal {
  background-color: #81a7da;
}

.equal:hover {
  transition: 0.3 ease-in;
  background-color: rgb(162, 197, 241);
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .res {
    height: 72px;
    max-width: 368px;
  }

  table {
    max-width: 368px;
  }

  td {
    width: 80px;
    height: 80px;
  }
}
