* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(18deg, #010101 0, #1c1c1c 100%);
  overflow-x: hidden;
  cursor: none;
  min-height: 95.88601vh;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  margin: 29px auto 80px;
  width: 90%;
}

h1 {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  color: #f1f1f1;
}

/* **********************************MOUSE CIRCLE************************************* */

#mouse {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0, #f1f1f1 90%);
  filter: blur(2px);
  z-index: -1;
}

/* *******************************************CALC******************************************************* */
.calculator {
  text-align: center;
  cursor: none;
  width: 35%;
  margin: 0 auto;
  cursor: pointer;
}

.res {
  width: 98%;
  margin: 0 auto;
  background: #c0bfc2c0;
  height: 64px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  font-size: 1.7rem;
  overflow: hidden;
}

span {
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 1px;
  direction: ltr;
  white-space: nowrap;
}

table {
  user-select: none;
  width: 98%;
  min-height: 300px;
  margin: 16px auto 0;
  font-size: 1.8rem;
  background: #d9d9d9;
  border-radius: 10px;
}

thead {
  display: none;
}

td {
  background: #d9d9d9;
  color: #1a1919d0;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  border-radius: 10px;
  padding: 0;
}

td:hover {
  background: #fcf8f8;
  cursor: pointer;
}

.clear {
  position: relative;
}

.clear::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-radius: 50%;
  background-color: #292929;
  opacity: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.clear.clicked::after {
  transform: scale(100%);
  border-radius: 10px;
}

.equal {
  background-color: #81a7da;
}

.equal:hover {
  transition: 0.3 ease-in;
  background-color: rgb(162, 197, 241);
  cursor: pointer;
}

/* **************************************MEDIA QUERIES************************************** */
@media screen and (max-width: 1080px) {
  h1 {
    font-size: 2rem;
  }

  .calculator {
    width: 300px;
  }

  table {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.7rem;
  }

  .calculator {
    width: 255px;
  }

  table {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .calculator {
    width: 220px;
  }

  table {
    font-size: 1rem;
  }
}